body {
    margin: 0;
    font-family: Arial;
}

.container {
    display: flex;
}

/* SIDEBAR */
aside {
    width: 220px;
    background: #2c3e50;
    color: white;
    height: 100vh;
    padding: 20px;
}

aside button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    background: #34495e;
    color: white;
    cursor: pointer;
}

aside button:hover {
    background: #1abc9c;
}

/* MAIN */
main {
    flex: 1;
    padding: 20px;
    background: #f4f6f9;
}

.page {
    display: block;
}

.hidden {
    display: none;
}

/* SQL */
textarea {
    width: 100%;
    height: 120px;
}

#output {
    margin-top: 10px;
    background: white;
    padding: 10px;
}

/* DARK MODE */
.dark {
    background: #121212;
    color: white;
}

.dark main {
    background: #1e1e1e;
}
